.tt {
    color:black;

    align-self: center;

    
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
.button1 {
    background-color: lightgreen;
    color: black; 
    border: 1px solid #4CAF50;
    border-radius: 8px;
}
  
.button1:hover {
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
}
